@import 'variables';

.card {
    background-color: $primary-color;
    color: $secondary-color;
    height: 20rem;
}

body {
    background-color: $background-color;
 
}

.bg-light {
    background-color: $header-color !important;
}

.container {
    padding: 1rem;
}	

header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding: 0 2rem;
    }
    .navbar-brand{
        font-size: 2rem;
        font-weight: bold;
        margin: 0 auto;
    }
}

#carousel{
    background-color: $primary-color;
}
